---
import { colegios } from "../../utils/data";
<<<<<<< HEAD
import { getSearchValue } from "../../utils/search";
=======
>>>>>>> 1ecfeeb (Remaster)
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

type ColegioPrompt = {
    titulo: string;
    descripcion: string;
    cupo: string;
    PMatricula: string;
    img: string;
    distrito: string;
};




<<<<<<< HEAD
const searchTerm = getSearchValue().trim().toLowerCase(); // Obtener el término de búsqueda actual normalizado
=======
>>>>>>> 1ecfeeb (Remaster)

// Filtrar colegios por el distrito normalizado que coincide con el término de búsqueda normalizado
const filteredColegios = colegios.filter((colegio: ColegioPrompt) => {
    const distritoLower = colegio.distrito.trim().toLowerCase();
<<<<<<< HEAD
    return distritoLower === searchTerm;
=======
    return distritoLower === "santiago";
>>>>>>> 1ecfeeb (Remaster)
});
---


<section id="instituciones">
    <Container className="space-y-10 md:space-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>Instituciones cerca de Ti</Title>
            <Paragraph>Descubre instituciones educativas cercanas</Paragraph>
        </div>
        
<<<<<<< HEAD
        {filteredColegios.length > 0 ? (
=======
        
>>>>>>> 1ecfeeb (Remaster)
            <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
                <!-- Renderizar las tarjetas de los colegios encontrados -->
                {filteredColegios.map((colegio: ColegioPrompt) => (
                    <Service
                        title={colegio.titulo}
                        description={colegio.descripcion}
                        cupos={colegio.cupo}
                        costo={colegio.PMatricula}
                        img={colegio.img}
                        distrito={colegio.distrito}
                    />
                ))}
            </div>
<<<<<<< HEAD
        ) : (
            <div class="text-center text-gray-600 mt-8">
                <p>Instituciones no encontradas.</p>
            </div>
        )}
=======
        
>>>>>>> 1ecfeeb (Remaster)
    </Container>
</section>